<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- CSS  -->
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

  <!-- Navbar -->
  <%- include partials/header.ejs -%>


  <% if (flash == 1) { %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
  <% } %>
  <% if (createFlash == 1) { %>
  <div class="alert alert-warning" role="alert"><%= createMessage %></div>
  <% } %>
  <!-- Chat + Lobby -->
  <div class="container-fluid">
    <div class="row">
      <!-- Chat -->
      <div class="col-3">
        <div class="row">
          <div id="show_comments" class="boxscroll"></div>
          <div class="flexContainer">
            <input id="comment" placeholder="Message" class="inputField"></input>
            <button id="add_status">Send</button>
          </div>
        </div>
        <!-- Will need to add input field and button for sending messages -->
      </div>
      <!-- Lobby -->
      <div class="col-9">
        <% if (isAuthenticated) { %>
        <br />
        <!-- TODO: Add fixed size to the tables, look into  using avail screen height -->
        <div style="border:1px solid black; overflow:auto;">
          <h2 style="background-color:#00A6ED">Personal Table</h2>
          <table class="table table-hover" style="margin-bottom: 0px">
            <thead>
              <tr>
                <th scope="col" width="33%">Match Name</th>
                <th scope="col" width="33%">Opponent</th>
                <th scope="col" width="33%">Room Size</th>
              </tr>
            </thead>
            <% if (numOfMatches > 0) { %>
            <tbody>
              <% for (var i=0; i < numOfMatches; i++) { %>
              <tr>
                <td><%= matchName[i] %></td>
                <td><%= opponent[i] %></td>
                <td><button type='submit' value='Submit' class="btn btn-block btn-info"> Rejoin </button></td>
                <% } %>
            </tbody>
            <% } %>
          </table>
        </div>
        <% } %>
        <br />
        <div style="border: 1px solid black;overflow:auto">
          <h2 style="background-color:#7FB800">Global Table</h2>
          <table class="table table-hover" style="margin-bottom: 0px">
            <thead>
              <tr>
                <th scope="col" width="33%">Match Name</th>
                <th scope="col" width="33%">Host</th>
                <th scope="col" width="33%">Room Size</th>
              </tr>
            </thead>
            <tbody id="tablebody">
            </tbody>
          </table>
        </div>
        <!-- /col-9 -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>


  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function opengame(callback) {
      fetch('/opengames')
        .then(res => res.json())
        .then(data => obj = data)
        .then(() => callback(obj))
    }

    opengame(getData);

    function getData(arrOfObjs) {
      var results = "";
      var arg = "";
      arrOfObjs.forEach(x => {
        results += "<tr>"
        results += "<td>" + x.game_name + "</td>";
        results += "<td>" + (x.user_id1) + "</td>";
        results += "<td>" + ((x.user_id2) ? "2/2" : (
          "<button type='submit' value='Submit' onclick='joinGame(" + JSON.stringify(x.game_id) + ")' class='btn btn-success btn-block'> Join </button>")) + "</td>";
        results += "</tr>";
      });
      document.getElementById("tablebody").innerHTML = results;
    }

    function joinGame(data){
      fetch('/joinGame', {
      	method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
      	body: JSON.stringify({"game_id": data}),
    	}).then(res => location.href = res.url);
    }

    var socket = io();
    $("#add_status").click(function () {
      socket.emit("status added", $("#comment").val());
      document.getElementById("comment").value = "";
    });

    const messageContainer = document.getElementById('show_comments');

    socket.on("refresh feed", function (msg) {
      const messageElement = document.createElement('div');
      messageElement.id = 'commentColor';
      messageElement.innerText = msg;
      messageContainer.append(messageElement);
      messageContainer.scrollTop = messageContainer.scrollHeight;

    });
  </script>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>
